<div class="weatherSlideshow">
    <div class="arrow arrow-left"><i class="fas fa-chevron-left fa-2x"></i></div>
    <div class="arrow arrow-right"><i class="fas fa-chevron-right fa-2x"></i></div>
    <div class="weatherDescription"><p>A small description about the image got from Unplash</p></div>
</div>
<table id="weatherTable">
    <thead id="tableHead">
        <tr>
            <th>Forecast Number</th>
            <th>Date</th>
            <th>Summary</th>
            <th>Temperature C</th>
            <th>Temperature F</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        
    </tbody>
</table>
<input class="btn refresh-weather" type="button" onclick="refreshWeather()" value="Refresh Weather">