<!-- <div class="weatherSlideshow">
    <div class="arrow arrow-left"><i class="fas fa-chevron-left fa-2x"></i></div>
    <div class="arrow arrow-right"><i class="fas fa-chevron-right fa-2x"></i></div>
    <div class="weatherDescription"><p>A small description about the image got from Unplash</p></div>
</div> -->
<div class="weatherWrapper">
    <table id="weatherTable" class="table">
        <thead id="tableHead">
            <tr>
                <th scope="col">Forecast Number</th>
                <th scope="col">Date</th>
                <th scope="col">Summary</th>
                <th scope="col">Temperature C</th>
                <th scope="col">Temperature F</th>
            </tr>
        </thead>
        <!-- <tbody id="tableBody">
            
        </tbody> -->
    </table>
</div>

<!-- btn refresh-weather class on button -->
<input id="refreshButton" class="btn btn-success btn-lg" type="button" value="Refresh Weather"> 